version: '3.6'

services:
    mysql:
        image: mysql:5.7
        environment:
            MYSQL_ROOT_USER: ${YOURLS_DB_USER:-root}
            MYSQL_ROOT_PASSWORD: ${YOURLS_DB_PASS:-arootpassword}
        restart: always
        networks:
            - yourls_host
        command: ["mysqld", "--datadir=/var/lib/mysql", "--server-id=1", "--log-bin=/var/lib/mysql/mysql-bin.log", "--binlog_do_db=test"]
        volumes:
         - ./mysql/:/docker-entrypoint-initdb.d/
         - ./mysql/var/lib/mysql:/var/lib/mysql
    #      - data_volume:/var/lib/mysql
    #
    # yourls:
    #     build:
    #         context: ./yourls/
    #     environment:
    #         YOURLS_DB_PASS: ${SQL_ROOT_PASS}
    #         YOURLS_SITE: ${YOURLS_HOSTNAME}:${YOURLS_PORT}
    #         YOURLS_USER: ${YOURLS_USER}
    #         YOURLS_PASS: ${YOURLS_PASS}
    #         YOURLS_URL_CONVERT: ${YOURLS_URL_CONVERT}
    #         YOURLS_PRIVATE_API: "${YOURLS_PRIVATE_API}"
    #         YOURLS_UNIQUE_URLS: "${YOURLS_UNIQUE_URLS}"
    #     restart: always
    #     networks: 
    #         - yourls_host
    #     ports:
    #         - ${YOURLS_PORT}:80
    #
    # python:
    #     build:
    #         context: ./build/
    #     depends_on:
    #         - yourls
    #         - mysql
    #     environment:
    #         YOURLS_PORT: ${YOURLS_PORT}
    #         YOURLS_DB_PASS: ${SQL_ROOT_PASS}
    #     networks: 
    #         - yourls_host
    #
    # adminer:
    #     image: adminer
    #     restart: always
    #     networks:
    #         - yourls_host
    #     ports:
    #         - 6080:8080

networks:
    yourls_host:
# volumes:
#     data_volume:
