name: pid.geoconnex.us database build

on: [ push, pull_request ]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build MySQL for Yourls
        run: |
          docker-compose up -d --build
      - name: Populate Yourls table from namespaces
        run: |
          docker build -t build_yourls ./build/
          docker run --rm --network=pidsgeoconnexus_yourls_host -v /sitemap:/sitemap -e "YOURLS_PORT=${YOURLS_PORT}" -e "YOURLS_DB_PASS=arootpassword" build_yourls
      - name: Dump SQL backup from database
        run: |
          export 
          docker exec pidsgeoconnexus_mysql_1 sh -c "mysqldump -u root --password=arootpassword yourls | gzip > /yourls.sql.gz"
          docker cp pidsgeoconnexus_mysql_1:/yourls.sql.gz ./mysql/yourls.sql.gz
      - name: Save SQL Artifact
        uses: actions/upload-artifact@v2
        with:
          name: yourls
          path: ./mysql
      - name: Save sitemap Artifact
        uses: actions/upload-artifact@v2
        with:
          name: sitemap
          path: /sitemap
