name: pid.geoconnex.us database build

on: [ push, pull_request ]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build MySQL for Yourls
        run: |
          docker-compose up -d --build
      - name: Populate Yourls table from namespaces
        run: |
          docker build -t build_yourls ./build/
          docker run --rm --network=pids_yourls_host -e "YOURLS_PORT=${YOURLS_PORT}" -e "YOURLS_DB_PASS=${SQL_ROOT_PASS}" build_yourls
          docker cp pidsgeoconnexus_mysql_1:/sitemap ./build/sitemap
      - name: Dump SQL backup from database
        run: |
          docker exec pidsgeoconnexus_mysql_1 sh -c "mysqldump yourls | gzip > /yourls.sql.gz"
          docker cp pidsgeoconnexus_mysql_1:/yourls.sql.gz ./mysql/yourls.sql.gz
      - name: Save SQL Artifact
        uses: actions/upload-artifact@v2
        with:
          name: yourls
          path: ./mysql
      - name: Save SQL Artifact
        uses: actions/upload-artifact@v2
        with:
          name: sitemap
          path: ./build/sitemap
